@import url('https://fonts.googleapis.com/css?family=Poppins|Rajdhani:400,500|Raleway:400,700,800,900|Teko:300,400');
@font-face {
  font-family: 'Century Gothic';
  src: url('fonts/GOTHIC.eot'); /* IE9 Compat Modes */
  src: url('fonts/GOTHIC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/GOTHIC.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/GOTHIC.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/GOTHIC.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/GOTHIC.svg#GOTHIC') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Century Gothic Bold';
  src: url('fonts/gothicb.eot'); /* IE9 Compat Modes */
  src: url('fonts/gothicb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/gothicb.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/gothicb.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/gothicb.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/gothicb.svg#gothicb') format('svg'); /* Legacy iOS */
}
.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: Arial}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1200px;margin: 0 auto;}
p, ul {margin: 0; padding: 0;}

/*Flexbox*/
.flex {display: flex; flex-direction: row;}
.flex-c {display: flex; flex-direction: column;}
.in-flex {display: inline-flex;}
.space-btw {justify-content: space-between;}
.space-arr {justify-content: space-around;}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }

/*button*/
.btn {font-size: 15px; font-weight: 400; color: #000; display: inline-block; padding: 10px 30px; background: #fff; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-size: 100px;font-weight: 100;color:#000;}
a.bttn {display: inline-block; background: #7FC41C; padding: 5px 40px; font-family: 'Teko', sans-serif; font-size: 25px; font-weight: 300; color: #fff; border-radius: 25px;}

/*header*/
#header {position: absolute; z-index: 9999 !important; max-width: 100%; width: 100%; min-width: 1200px;}
#header .top {position: relative; padding: 10px 0; background: #01A0C7;}
#header .top .mainLogo {position: absolute; top: 0; left: 0; right: 0; margin: auto; z-index: 9999 !important;}
#header .top nav a#pull {display: none}
#header .top nav {display: flex; width: 100%; justify-content: space-between;}
#header .top nav ul {margin: 0;padding: 0; width: 390px; display: inline-flex; justify-content: space-between;}
#header .top nav ul li {display: inline-block;vertical-align: middle;}
#header .top nav ul li a {font-family: 'Teko', sans-serif; font-size: 22px; font-weight: 400; color: #fff;}
#header .top nav ul li.active-menu a, #header nav ul li a:hover {color:#fff;}
#header .bot {background: rgba(85,85,85,0.95); padding: 15px 0;}
#header .bot .row {display: flex; justify-content: space-between; align-items: center;}
#header .bot p.socialMed {width: 230px; display: inline-flex; justify-content: space-between;}
#header .bot .contacts {display: inline-flex; width: 385px; justify-content: space-between;}
#header .bot .contacts p.call {font-family: 'Teko', sans-serif; font-size: 21px; font-weight: 400; color: #fff; text-align: left; line-height: 1.2;}
#header .bot .contacts p.call span {display: block; font-family: 'Century Gothic Bold'; font-size: 25px; font-weight: 700;}

/*banner*/
#banner {background: url("../images/common/top-bg.png") center top no-repeat; background-size: cover; padding: 51px 0; position: relative; min-height: 1155px;}
#banner .row {position: relative;}
#banner .bannerBox {position: absolute; right: 0; top: 345px; text-align: center;}
#banner h2 {margin: 0 0 15px; font-family: 'Raleway', sans-serif; font-size: 64px; font-weight: 900; color: #fff; text-shadow: 5px 5px 15px rgba(0,0,0,0.21);}
#banner h2 span {display: block;}
#banner a {padding: 5px 30px; box-shadow: 5px 5px 15px rgba(0,0,0,0.18);}

/*content*/
#content {background: #fff;padding: 0 0 70px; margin: -310px 0 0;}
#content .row {display: flex; position: relative; align-items: flex-end; justify-content: space-between;}
#content img {position: relative;}
#content .content-Cont {max-width: 575px; text-align: left; margin: 0 0 20px;}
#content .content-Cont h1 {font-family: 'Raleway', sans-serif; font-size: 54px; font-weight: 900; color: #009FC6;}
#content .content-Cont h1 span {color: #7FC41B;}
#content .content-Cont h2 {font-family: 'Raleway', sans-serif; font-size: 43px; font-weight: 700; color: #535353; margin: 0 0 35px;}
#content .content-Cont p:first-of-type {font-family: 'Raleway', sans-serif; font-size: 27px; font-weight: 400; color: #888888;}
#content .content-Cont p:last-of-type {font-family: 'Poppins', sans-serif; font-size: 16px; font-weight: 400; color: #111111; line-height: 1.9; margin: 0 0 25px;}

/*services*/
#services {background: url("../images/common/services-bg.jpg") top center no-repeat; background-size: 100%; padding: 80px 0 90px;}
#services h2 {font-family: 'Raleway', sans-serif; font-size: 54px; font-weight: 900; color: #fff; margin: 0 0 90px;}
#services .servicesCont {display: flex; flex-wrap: wrap; justify-content: space-between;}
#services .servicesCont dl {margin: 25px 0;}
#services .servicesCont dd {margin: -50px auto 0; padding: 40px 0 5px; position: relative; background: #fff; max-width: 345px;}
#services .servicesCont dd:after {content: ''; position: absolute; width: 345px; height: 165px; box-shadow: 0 0 90px -15px #000; top: 10px; left: 0; right: 0; margin: auto; z-index: -1;}
#services .servicesCont dd:before {content: ''; background: url(../images/content/border.png) center top no-repeat; position: absolute; width: 145px; height: 7px; top: 0; left: 0; right: 0; margin: auto;}
#services .servicesCont dd p {font-family: 'Raleway', sans-serif; font-size: 21px; font-weight: 800; color: #171310; margin: 0 0 30px;}
#services .servicesCont dd p span {display: block;}

/*info*/
#info {background: #01A0C7;}
#info .row {max-width: 100%; width: 100%; min-width:1200px; display: flex; align-items: center;}
#info .imageCont {width: 60.69444444444444%; align-self: center;}
#info .imageCont img {display: block; width: 100%;}
#info .infoDesc {width: 49.3055555556%;}
#info .infoDesc .Container {max-width: 620px; margin: 0 auto;}
#info .infoDesc h2 {font-family: 'Raleway', sans-serif; font-size: 48px; font-weight: 900; color: #fff; margin: 0 auto 40px;}
#info .infoDesc p {font-family: 'Poppins', sans-serif; font-size: 16px; font-weight: 400; color: #fff; line-height: 1.45; margin: 0 auto 25px;}
#info .infoDesc p span, #info .infoDesc h2 span {display: block;}

/*gallery*/
#gallery .row {position: relative;}
#gallery img {display: block;}
#gallery img[alt~="Large"] {position: absolute; top: 0; right: 0;}
#gallery .galleryCont {width: 720px; padding: 80px 0; text-align: left;}
#gallery .galleryCont h2 {font-family: 'Raleway', sans-serif; font-size: 54px; font-weight: 900; color: #7FC41C; margin: 0 0 50px;}
#gallery .galleryCont .imgph {display: flex; justify-content: space-between; position: relative; margin: 0 0 30px;}
#gallery .galleryCont .imgph img {align-self: center;}
#gallery .galleryCont .imgph img:nth-child(-n+2) {margin: 0 0 3px;}
#gallery .galleryCont .imgph .small {display: flex; flex-wrap: wrap; justify-content: space-between;  width: 475px;}

/*tips*/
#tips {background: #01A0C7 url("../images/common/tips-bg.png") right center no-repeat; padding: 40px 0; text-align: left;}
#tips h2 {font-family: 'Raleway', sans-serif; font-size: 54px; font-weight: 900; color: #fff; margin: 0 0 25px;}
#tips p {font-family: 'Poppins', sans-serif; font-size: 20px; font-weight: 700; color: #fff; max-width: 740px; line-height: 1.8; margin: 0 0 20px;}
#tips p span {display: block; font-size: 14px; font-weight: 400;}
#tips a {background: none; border: 1px solid #fff;}

/*contact*/
#contact {background: url("../images/common/contact-bg.jpg") center center no-repeat; background-size: cover; padding: 45px 0;}
#contact h2 {margin: 0 0 35px; font-family: 'Raleway', sans-serif; font-size: 54px; font-weight: 900; color: #fff;}
#contact .ctc-form {text-align: left; color: #fff;}
#contact .ctc-form input[type="text"], #contact .ctc-form textarea {margin: 0 0 10px; border-radius: 0; background: rgba(243,243,233,0.81); font-family: 'Rajdhani', sans-serif; font-size: 20px; font-weight: 500;}
#contact .ctc-form input[type="text"]::placeholder, #contact .ctc-form textarea::placeholder {color: #fff;}
#contact .ctc-form textarea {resize: none;}
#contact .ctc-form .info {display: flex; justify-content: space-between;}
#contact .ctc-form .info label {width: calc(98.5%/3);}
#contact .ctc-form .cb-Cont {display: flex; justify-content: space-between;}
#contact .ctc-form button {background: #7FC41C; font-family: 'Century Gothic Bold'; font-size: 18px; font-weight: 700; color: #fff; padding: 20px 45px; border-radius: 40px; border: none; letter-spacing: 3px;}
#contact .ctc-form button:hover {background: #91df22; cursor: pointer;}

/*footer*/
#footer .top {background: #01A0C7 url("../images/common/footer-bg.png") center left no-repeat; background-size: 50% 100%; position: relative; padding: 0 0 45px; overflow: hidden;}
#footer .top .mapCont {position: absolute; right: 0; top: 0; width: 50%; overflow: hidden;}
#footer .top .mapCont img {width: 965px;}
#footer .top .cont > * {margin: 0 0 30px;}
#footer .top .cont {max-width: 390px; text-align: left; color: #fff; font-family: 'Poppins', sans-serif;}
#footer .top .cont p > img, #footer .top .cont div > img {margin: 0 20px 0 0;}
#footer .top .cont p {font-family: 'Poppins', sans-serif; font-size: 14px; font-weight: 500;}
#footer .top .cont p span {display: block;}
#footer .top .cont .location {display: flex; align-items: center;}
#footer .top .cont .contactNos {display: flex; align-items: flex-end; justify-content: space-between;}
#footer .top .cont .contactNos img {align-self: flex-end; margin: 0 -15px 0 0 !important;}
#footer .top .cont .contactNos p {display: inline-flex; flex-flow: column; font-family: 'Teko', sans-serif; font-size: 21px; font-weight: 400;}
#footer .top .cont .contactNos p span {font-family: 'Poppins', sans-serif; font-size: 25px; font-weight: 700; line-height: 1;}
#footer .top .cont .email, #footer .top .cont .sched {display: flex; align-items: center;}
#footer .top .cont .socialMed {display: flex; justify-content: space-between; width: 230px;}
#footer .bot {background: #63921E; padding: 15px; font-family: 'Poppins', sans-serif; font-size: 15px; font-weight: 300; color: #fff;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {background: #fff; min-height: 400px; padding: 40px 0; position: relative;}
.inner #content h1{ color:#009FC6; font-size:70px; font-family:'Raleway', sans-serif; line-height:120%; font-weight:900;}
.inner #content h2{color: #009FC6; font-size: 40px; font-family:'Raleyway', sans-serif;}
.inner #content h3{color: #000000; font-size: 25px; font-family:'Raleyway', sans-serif;margin: 30px auto;}
.inner #content p{ color:#111; font-size:18px; font-family:'Poppins', sans-serif; line-height:180%;}
.inner #content .row {display: block;max-width: 1200px;margin: 0 auto;}
.inner #content .service-description {margin:60px 0;}
.inner #content dl{border: 1px solid #009FC6; display: inline-block; vertical-align: top; width: 30%;padding: 0 10px;background-color: #009FC6;}
.inner #content dl dt{border: 1px solid #009FC6;margin: 10px 0;padding: 30px 0;background-color: #fff}
.inner #content dl dt .header-1{font-size: 20px}
.inner #content dl dt .header-2{font-size: 40px; font-weight: bold;}
.inner #content dl dt .header-2 span{font-size: 20px; font-weight: normal;}
.inner #content dl dt .header-3 {font-size: 20px; font-weight: bold;}
.inner #content dl dd{border: 1px solid #009FC6; margin: 10px auto;min-height: 180px;padding: 30px 0;background-color: #fff}
.inner #content .head1{font-size: 40px; margin: 50px auto;}
.inner #content .head2{font-size: 20px; margin: 50px auto;}
.inner #content .head3{font-size: 15px; font-weight: bold;margin: 50px auto;}
.inner #content .testi dl, .inner #content .testi dt, .inner #content .testi dd {border: none; background: none; margin: 30px auto;padding: 0;}
.inner #content .quote {margin: 0 30px;}
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}

@media screen and (min-width: 1925px) {
  #footer .top .mapCont img {width: 100%;}
}

@media screen and (max-width: 1610px) {
  #info .infoDesc {padding: 15px 0;}
}

@media screen and (max-width: 1425px) {
  #info .infoDesc h2 {font-size: 41px;}
  #info .infoDesc p {font-size: 13px;}
}

@media screen and (max-width: 1200px) {
  .row {max-width: 95%;}
}
